body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#gameContainer {
  width: 80%;
  margin: 0 auto;
}

.game-category {
  margin-bottom: 50px;
}

.game {
  border: 1px solid black;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.game-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.game-button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
